<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Pokedex</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <!-------------------------------------------------------- MODAL ------->
    <div id="app">
        <div class="loader" v-show="loading">
            <div class="loader-wheel"></div>
        </div>
        <!------------------------------------------- FIN MODAL ----------->


        <!------------------------------------------------- PÁGINA DOS ---------->


        <div class="container-fluid" data-role="page" id="dos">
            <div class="row border-bottom mb-3 py-2 px-3 primary">
                <a href="index.html"><h1 class="logo">Pokedex</h1></a>
            </div>
            <section id="productos" class="row">
                <h2 class="col-12 text-center">{{poke.name}}</h2>
                <div class="col-md-2 col-xs-12 text-center mb-2">
                    <figure class="figure">
                        <img :src="'img/pokemons/'+poke.id+'.png'" alt="foto" class="figure-img img-fluid">
                    </figure>
                    <div class="col-12" v-for="(type, index) in poke.types">
                        <img :src="'img/types/'+type+'.gif'">
                    </div>
                </div>
                <div class="col-md-10 col-xs-12">
                    <table style="width: 100%" v-for="(stat, index) in poke.stats">
                        <tr class="tr">
                            <td>{{stat.name}}</td>
                            <td>{{stat.value}}</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-primary-color" role="progressbar" :style="'width:'+stat.value/2+'%'" aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="container-fluid row">
                    <div v-if="types.hard_weakness.length > 0" class="col-md col-xs-12 text-center mt-3 mb-3">
                        <h3>Hard weakness</h3>
                        <template v-for="(type, index) in types.hard_weakness">
                            <img :src="'img/types/'+type+'.gif'">
                        </template>
                    </div>
                    <div v-if="types.weakness.length > 0" class="col-md col-xs-12 text-center mt-3 mb-3">
                        <h3>Weakness</h3>
                        <template v-for="(type, index) in types.weakness">
                            <img :src="'img/types/'+type+'.gif'">
                        </template>
                    </div>
                    <div v-if="types.resistance.length > 0" class="col-md col-xs-12 text-center mt-3 mb-3">
                        <h3>Resistance</h3>
                        <template v-for="(type, index) in types.resistance">
                            <img :src="'img/types/'+type+'.gif'">
                        </template>
                    </div>
                    <div v-if="types.hard_resistance.length > 0" class="col-md col-xs-12 text-center mt-3 mb-3">
                        <h3>Hard resistance</h3>
                        <template v-for="(type, index) in types.hard_resistance">
                            <img :src="'img/types/'+type+'.gif'">
                        </template>
                    </div>
                    <div v-if="types.inmune.length > 0" class="col-md col-xs-12 text-center mt-3 mb-3">
                        <h3>Inmune</h3>
                        <template v-for="(type, index) in types.inmune">
                            <img :src="'img/types/'+type+'.gif'">
                        </template>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 p-2">
                    <a href="#tres" class="btn pokebutton btn-block">Mega-evolution</a>
                </div>
                <div class="col-md-3 col-xs-12 p-2">
                    <a href="#tres" @click="showAdvancedSettings" class="btn pokebutton btn-block">Advanced settings</a>
                </div>
                <div class="col-md-3 col-xs-12 p-2">
                    <a href="#tres" @click="showAvailableMovements" class="btn pokebutton btn-block">Available movements</a>
                </div>
                <div class="col-md-3 col-xs-12 p-2">
                    <a href="#tres" @click="showCatchHim" class="btn pokebutton btn-block">Catch him!</a>
                </div>
            </section>
        </div>

        <div class="container-fluid" data-role="page" id="tres">
            <div class="row border-bottom mb-3 py-2 px-3 primary">
                <a href="index.html"><h1 class="logo">Powercar</h1></a>
            </div>
            <section>
                <div v-show="availableMovements" class="row mb-3 p-3">
                    <div class ="absolute">
                        <a href="#dos" class="btn pokebutton">🡸</a>
                    </div>
                    <h2 class="col-12 text-center">{{poke.name}}'s available movements</h2>
                    <table class="table text-center">
                        <tr>
                            <td>Movement</td>
                            <td>Type</td>
                            <td>Movement Type</td>
                            <td>Points</td>
                            <td>Accuracy</td>
                        </tr>
                        <template v-for="(move, index) in moves">
                            <tr>
                                <td>{{move.name}}</td>
                                <td><img :src="'img/types/'+move.type+'.gif'"></td>
                                <td><img :src="'img/moves/'+move.movement_type+'.gif'"></td>
                                <td>{{move.points}}</td>
                                <td>{{move.accuracy}}</td>
                            </tr>
                        </template>
                    </table>     
                </div>
                <div v-show="catchHim" class="row mb-3 p-3">
                    <div class ="absolute">
                        <a href="#dos" class="btn pokebutton">🡸</a>
                    </div>
                    <h2 class="col-12 text-center">How to catch {{poke.name}}</h2>
                    <table v-if="zones.length>0" class="table text-center">
                        <tr>
                            <td>Pokemon version</td>
                            <td>Located</td>
                            <td>Way</td>
                        </tr>
                        <template v-for="(zone, index) in zones">
                            <tr>
                                <td>{{zone.pokemon_version}}</td>
                                <td>{{zone.location}}</td>
                                <td>{{zone.way}}</td>
                            </tr>
                        </template>
                    </table>
                    <div v-else class="col-12 text-center">
                        <figure class="figure col-12">
                            <img src="img/sad-pikachu.png" alt="foto" class="figure-img img-fluid">
                        </figure>
                        There's no way to catch {{poke.name}}. Try finding its previous evolutions.
                    </div>
                </div>
                <div v-show="advancedSettings" class="row mb-3 p-3">
                    <div class ="absolute">
                        <a href="#dos" class="btn pokebutton">🡸</a>
                    </div>
                    <h2 class="col-12 text-center">{{poke.name}}'s advanced settings</h2>
                </div>
            </section>
        </div>

        <!---------------------------------------------- PÁGINA UNO ------------->

        <div class="container-fluid" data-role="page" id="uno">
            <div class="row border-bottom mb-3 py-2 px-3 primary">
                <a href="index.html"><h1 class="logo">Powercar</h1></a>
            </div>
            <section>
                <div class="row mb-3">
                    <div class="col-12">
                        <input type="text" class="pokemon-search mb-2" required id="pokemon" name="pokemon" placeholder="Search for Pokemon..." v-model.trim="inputUsuario">
                    </div>
                    <template v-for="(pokemon, index) in filterByName()">
                        <pokemon :poke="pokemon" @seleccionar="seleccionarPokemon"></pokemon>
                    </template>            
                </div>
            </section>
        </div>

    <!------------------------------------------------------ NAV ------------>
        <nav class="col navbar navbar-expand navbar-light fixed-bottom mb-0 border-top primary">
            <div class="collapse navbar-collapse" id="barra">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link border-right" href="#uno"><img src="img/search.svg" alt="icono"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#dos"><img src="img/pokemon.svg" alt="icono"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script>
        $('.text-truncate').on('click', function() {
            $(this).toggleClass('text-truncate');

        });
    </script>
    <script src="js/vue.js"></script>
    <script src="js/poke-utils.js"></script>
    <script src="js/poke-clients.js"></script>
    <script src="js/movements.js"></script>
    <script src="js/pokemons.js"></script>
    <script src="js/pokemon.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                inputUsuario: '',
                selectedPokemon: 1,
                listadoCompletoPokemons: pokemons,
                listadoCompletoMovements: movements,
                catchHim: false,
                availableMovements: false,
                advancedSettings: false,
                zones: [{
                    pokemon_version: "yellow",
                    location: "cerulean-city-area",
                    way: "gift"
                }],
                poke: {
                    id: 1,
                    stats: [
                        {
                            name: "PS",
                            value: 45
                        }
                    ],
                    types: [
                        "grass"
                    ]
                },
                moves: [
                    {
                        name: "confide",
                        type: "normal",
                        movement_type: "status",
                        points: 0,
                        accuracy: 0,
                        priority: 0
                    }
                ],
                types: 0,
                loading: true
            },
            methods:{
                filterByName(){ 
                    if(this.inputUsuario){
                        return this.listadoCompletoPokemons.filter( pokemon => pokemon.name.toLowerCase().includes( this.inputUsuario.toLowerCase() ));
                    }else{
                        return this.listadoCompletoPokemons;
                    }
                },
                filterById(){ 
                    return this.listadoCompletoPokemons.filter( pokemon => pokemon.id == this.selectedPokemon );
                },
                filterMovementByName(name){ 
                    return this.listadoCompletoMovements.filter( movement => movement.name.includes( name ));
                },
                seleccionarPokemon(id){
                    this.loading = true;
                    this.selectedPokemon = id;
                    getPokemon(id);
                },
                showAvailableMovements(){
                    this.loading = true;
                    this.availableMovements = true;
                    this.advancedSettings = false;
                    this.catchHim = false;
                    getPokemonMovements(this.selectedPokemon)
                },
                showCatchHim(){
                    this.loading = true;
                    this.catchHim = true;
                    this.advancedSettings = false;
                    this.availableMovements = false;
                    getPokemonZones(this.selectedPokemon);
                },
                showAdvancedSettings(){
                    this.advancedSettings = true;
                    this.catchHim = false;
                    this.availableMovements = false;
                }
            },
            beforeMount(){
                this.types = getTypeStats(this.poke.types);
                getPokemon(1);
            },
        })
    </script>
</body>

</html>